@import "tailwindcss";
@import "@fontsource/poppins";

:root{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(252, 251, 251);
    overflow-x: hidden;
}

@media (max-width: 1191px) {
    .order-dish-responsive {
        width: 100%;
        max-width: 100%;
        padding: 0;
        
    }
}

@media (max-width: 1238px) {
    .container-dishes {
        width: 100%;
       display: flex;
       flex-wrap: wrap;
    }
}

.readyColorNumberOrders{
    background: #F0FDF4;
    color: #00A63E;
}

.readyIconColor{
    color: #00A63E;
}

.readyBgOrderCards{
    background: #F0FDF4;
    border: 1px solid #00A63E;
}

.cookingColorNumberOrders{
    background: #fff7ec;
    color: #F97316;
}

.cookingIconColor{
    color: #F97316;
}

.cookingBgOrderCards{
    background: #fff7ec;
    border: 1px solid #F97316;
}